.icons-sprite, nav li.contact, nav li.contact:hover { background-image: url('/images/../images/icons-s93de69cda4.png'); background-repeat: no-repeat; }

nav li.contact { background-position: 0 0; }

nav li.contact:hover { background-position: 0 0; }

nav li.contact { background-position: 0 0; width: 0.68267rem; height: 0.68267rem; }
